<h1>INTRODUCTIONS</h1>
<h2>Live Code 1 </h2>
<h3><b>Muhamad Natual Hisak</b></h3>

<h2>PROBLEMS</h2>
1. Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik: <br>

R=V/I<br>

P=VI<br>

R adalah Hambatan dalam satuan Ohm<br>
P adalah Daya dalam Watt<br>
I adalah kuat arus dalam satuan Ampere<br>
V adalah tegangan dalam satuan Volt<br>

a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

Import library yang digunakan yaitu pandas

In [1]:
import pandas as pd # import library pandas dan berikan alias 'pd'

load dataset dengan pd.read_excel("path") karena dataset berupa file excel

In [2]:
df = pd.read_excel(r'C:\Users\Omen\Desktop\batch_16\Live Code 1\Live_code1\NMC1-9.xlsx') #Load Dataset
df #tampilkan tabel

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

buat fungsi perhitungan nilai R dan P dengan menggunakan def () :

In [3]:
def R(V,I) : #fungsi menghitung nilai R dengan input berupa nilai V dan I
    R = V/I #rumus hitung R
    return R #return nilai R 

def P(V,I) : #fungsi menghitung nilai P dengan input berupa nilai V dan I
    P = V*I #rumus hitung P
    return P #return nilai P

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

memasukkan nilai pada kolom V_m,Current (A), dan Cap kedalam list dan mendefine list kosong untuk hasil perhitungan

In [4]:
RP = [] #define list kosong dalam variabel RP sebagai tempat menampung value hasil hitung R atau P
V = df['V_m'].tolist() # ubah kolom V_m menjadi list
I = df['Current (A)'].tolist() # ubah kolom Current (A) menjadi list
C = df['Cap'].tolist()# ubah kolom Cap menjadi list

Memasukkan nilai hasil hitung R atau P kedalam list kosong dengan memanfaatkan loop dan conditional serta fungsi yang telah dibuat pada soal a

In [5]:
y=0 
z=0
for x in C : #For loop untuk menjalankan program tiap nilai pada kolom Cap
    if x>=2.5 : #conditional untuk nilai kapasitas lebih dari sama dengan 2.5
        RP.append(P(V[y],I[z])) #hitung nilai P dan hasilnya dimasukkan ke list RP
    elif x<2.5 :#conditional untuk nilai kapasitas kurang dari 2.5
        RP.append(R(V[y],I[z])) #hitung nilai R dan hasilnya dimasukkanke list RP
    y=y+1
    z=z+1
RP # tampilkan list RP yang sudah lengkap dengan value nya

[4.085706,
 4.087808,
 4.089906,
 4.084814,
 4.087908,
 4.078727,
 4.07364,
 4.072644,
 4.068555000000001,
 4.06756,
 4.071648,
 4.070652,
 4.073742,
 4.077828,
 4.081914,
 4.085,
 4.089085,
 4.088083999999999,
 4.088083999999999,
 4.083,
 4.083,
 4.082,
 4.073836,
 4.072838,
 4.064676,
 4.06368,
 4.06368,
 4.06368,
 4.066763,
 4.066763,
 4.070842,
 4.079,
 4.078,
 4.086156,
 4.082078,
 4.085154,
 4.077,
 4.072923,
 4.067848,
 4.063771999999999,
 4.0587,
 4.0587,
 4.0587,
 4.057704,
 4.065852,
 4.069926,
 4.074,
 4.078073999999999,
 4.077073,
 4.077073,
 4.081146,
 4.077073,
 4.076072,
 4.067928,
 4.063856,
 4.058787,
 4.054716,
 4.05372,
 4.05372,
 4.05372,
 4.057790000000001,
 4.06186,
 4.064931,
 4.073068999999999,
 4.073068999999999,
 4.073068999999999,
 4.073068999999999,
 4.068,
 4.068,
 4.063931999999999,
 4.059863999999999,
 4.054799,
 4.050732,
 4.050732,
 4.053802,
 4.053802,
 4.057868,
 4.061934,
 4.066,
 4.070066,
 4.073130000000001,
 4.065,
 4.065,
 4.060935000000001,
 4.055872,
 4.051808,
 4.047744,
 4.047744,
 4.0508109999999995,
 4.054874,
 4.058936999999999,
 4.063,
 4.071126,
 4.071126,
 4.067062999999999,
 4.057938,
 4.053876000000001,
 4.0498140000000005,
 4.044756,
 4.044756,
 4.048817,
 4.052878,
 4.061,
 4.065060999999999,
 4.0681199999999995,
 4.06406,
 4.06406,
 4.06,
 4.05188,
 4.046823,
 4.042764,
 4.042764,
 4.0508820000000005,
 4.059,
 4.063059,
 4.063059,
 4.0620579999999995,
 4.053942,
 4.045826,
 4.0407720000000005,
 4.044829,
 4.044829,
 4.052943,
 4.061057,
 4.061057,
 4.061057,
 4.061057,
 4.047888,
 4.039776,
 4.03878,
 4.042834999999999,
 4.050945,
 4.055,
 4.06311,
 4.059054999999999,
 4.055,
 4.046889999999999,
 4.041838,
 4.03373,
 4.041838,
 4.045892,
 4.054,
 4.062108,
 4.054,
 4.048947,
 4.040841,
 4.036788,
 4.040841,
 4.044894,
 4.053,
 4.060104,
 4.060104,
 4.052,
 4.047948,
 4.035792,
 4.034796,
 4.0388470000000005,
 4.042898,
 4.055051,
 4.059102,
 4.059102,
 4.051,
 4.0419,
 4.03785,
 4.033799999999999,
 4.03785,
 4.0459499999999995,
 4.05,
 4.054049999999999,
 4.054049999999999,
 4.049,
 4.044951,
 4.0328040000000005,
 4.0328040000000005,
 4.035856,
 4.044951,
 4.049,
 4.056096,
 4.056096,
 4.052047999999999,
 4.048,
 4.034859,
 4.030812,
 4.034859,
 4.038906,
 4.038906,
 4.047,
 4.051047,
 4.051047,
 4.050046,
 4.046,
 4.033862,
 4.029816,
 4.029816,
 4.029816,
 4.037908,
 4.040955,
 4.049045,
 4.05309,
 4.049045,
 4.045,
 4.045,
 4.032865,
 4.027824,
 4.031867999999999,
 4.031867999999999,
 4.039955999999999,
 4.048043999999999,
 4.048043999999999,
 4.0520879999999995,
 4.048043999999999,
 4.044,
 4.038957,
 4.0349140000000006,
 4.026828,
 4.026828,
 4.026828,
 4.030871,
 4.030871,
 4.0298739999999995,
 4.037958,
 4.037958,
 4.042,
 4.046041999999999,
 4.046041999999999,
 4.046041999999999,
 4.050084,
 4.046041999999999,
 4.045041,
 4.041,
 4.036959,
 4.0329180000000004,
 4.0248360000000005,
 4.02384,
 4.0288770000000005,
 4.02788,
 4.03192,
 4.03192,
 4.04404,
 4.04808,
 4.04808,
 4.04404,
 4.04404,
 4.04,
 4.034961,
 4.026883,
 4.022844,
 4.022844,
 4.026883,
 4.026883,
 4.0309219999999994,
 4.029924,
 4.034961,
 4.033962,
 4.042038,
 4.042038,
 4.042038,
 4.046076,
 4.046076,
 4.042038,
 4.042038,
 4.037,
 4.037,
 4.037,
 4.032963,
 4.032963,
 4.032963,
 4.028926,
 4.028926,
 4.027927999999999,
 4.023891999999999,
 4.019856,
 4.019856,
 4.019856,
 4.019856,
 4.01886,
 4.01886,
 4.022895,
 4.022895,
 4.01886,
 4.01886,
 4.022895,
 4.022895,
 4.022895,
 4.022895,
 4.022895,
 4.02693,
 4.02693,
 4.025932,
 4.025932,
 4.025932,
 4.025932,
 4.029966,
 4.029966,
 4.034,
 4.029966,
 4.034,
 4.033,
 4.038034,
 4.037033,
 4.037033,
 4.037033,
 4.041066000000001,
 4.037033,
 4.037033,
 4.041066000000001,
 4.041066000000001,
 4.037033,
 4.041066000000001,
 4.040064,
 4.036032,
 4.036032,
 4.032,
 4.036032,
 4.032,
 4.032,
 4.032,
 4.031,
 4.026968999999999,
 4.018907,
 4.018907,
 4.014876,
 4.014876,
 4.014876,
 4.014876,
 4.018907,
 4.026968999999999,
 4.02194,
 4.03,
 4.03,
 4.038060000000001,
 4.038060000000001,
 4.03403,
 4.03403,
 4.03403,
 4.02597,
 4.02194,
 4.0179100000000005,
 4.01388,
 4.012884,
 4.012884,
 4.012884,
 4.016913,
 4.020942,
 4.020942,
 4.016913,
 4.020942,
 4.020942,
 4.024971,
 4.023972,
 4.028,
 4.028,
 4.0320279999999995,
 4.0320279999999995,
 4.0320279999999995,
 4.036055999999999,
 4.0320279999999995,
 4.0320279999999995,
 4.0320279999999995,
 4.028,
 4.023972,
 4.022973,
 4.018946,
 4.018946,
 4.014919,
 4.010892,
 4.010892,
 4.010892,
 4.013922,
 4.013922,
 4.017948,
 4.021974,
 4.017948,
 4.026,
 4.026,
 4.026,
 4.030025999999999,
 4.026,
 4.030025999999999,
 4.030025999999999,
 4.034052,
 4.034052,
 4.034052,
 4.030025999999999,
 4.030025999999999,
 4.025,
 4.020975,
 4.0169500000000005,
 4.0169500000000005,
 4.012925,
 4.008900000000001,
 4.008900000000001,
 4.012925,
 4.012925,
 4.020975,
 4.025,
 4.03305,
 4.03305,
 4.03305,
 4.024,
 4.028023999999999,
 4.019976,
 4.019976,
 4.015952,
 4.011928,
 4.007904,
 4.010930999999999,
 4.006907999999999,
 4.006907999999999,
 4.006907999999999,
 4.010930999999999,
 4.0149539999999995,
 4.0149539999999995,
 4.0149539999999995,
 4.023,
 4.027022999999999,
 4.027022999999999,
 4.031046,
 4.031046,
 4.027022999999999,
 4.023,
 4.023,
 4.013956,
 4.009934,
 4.005912,
 4.005912,
 4.009934,
 4.009934,
 4.013956,
 4.017978,
 4.022,
 4.026022,
 4.030044,
 4.030044,
 4.030044,
 4.025021,
 4.025021,
 4.025021,
 4.021,
 4.021,
 4.016979,
 4.016979,
 4.012958,
 4.0089369999999995,
 4.004916,
 4.004916,
 4.004916,
 4.004916,
 4.00794,
 4.011959999999999,
 4.011959999999999,
 4.01598,
 4.02,
 4.02804,
 4.02804,
 4.024019999999999,
 4.024019999999999,
 4.02,
 4.01598,
 4.01598,
 4.00794,
 4.002924,
 4.002924,
 4.006943,
 4.010962,
 4.014981,
 4.019,
 4.023019,
 4.027038,
 4.023019,
 4.019,
 4.014981,
 4.006943,
 4.002924,
 4.002924,
 4.002924,
 4.010962,
 4.0139819999999995,
 4.022017999999999,
 4.0260359999999995,
 4.022017999999999,
 4.022017999999999,
 4.018,
 4.009964,
 4.005946,
 4.0019279999999995,
 4.0019279999999995,
 4.005946,
 4.005946,
 4.0139819999999995,
 4.022017999999999,
 4.022017999999999,
 4.022017999999999,
 4.021017,
 4.021017,
 4.012983,
 4.012983,
 4.008966,
 4.004949000000001,
 4.000932000000001,
 4.000932000000001,
 4.000932000000001,
 4.004949000000001,
 4.004949000000001,
 4.012983,
 4.012983,
 4.017,
 4.021017,
 4.021017,
 4.025034000000001,
 4.020015999999999,
 4.016,
 4.016,
 4.007968,
 4.007968,
 3.999936,
 3.999936,
 4.003952,
 4.007968,
 4.011984,
 4.020015999999999,
 4.020015999999999,
 4.024032,
 4.020015999999999,
 4.016,
 4.016,
 4.010985,
 4.002955,
 4.002955,
 3.9989399999999997,
 3.9989399999999997,
 4.002955,
 3.9989399999999997,
 3.9989399999999997,
 4.002955,
 4.002955,
 4.00697,
 4.00697,
 4.010985,
 4.015,
 4.019015,
 4.023029999999999,
 4.023029999999999,
 4.018014,
 4.018014,
 4.014,
 4.018014,
 4.0099860000000005,
 4.0099860000000005,
 4.005972,
 4.001958,
 4.001958,
 3.9979440000000004,
 4.001958,
 4.000961,
 3.9969479999999997,
 3.9969479999999997,
 4.000961,
 4.000961,
 4.000961,
 4.000961,
 4.004974,
 4.004974,
 4.004974,
 4.004974,
 4.008987,
 4.013,
 4.013,
 4.0170129999999995,
 4.0170129999999995,
 4.0170129999999995,
 4.0170129999999995,
 4.020023999999999,
 4.0170129999999995,
 4.016011999999999,
 4.012,
 4.012,
 4.007987999999999,
 4.007987999999999,
 3.9999639999999994,
 3.9999639999999994,
 3.9959519999999995,
 3.9959519999999995,
 3.9959519999999995,
 3.9999639999999994,
 4.003976,
 4.007987999999999,
 4.007987999999999,
 4.012,
 4.016011999999999,
 4.020023999999999,
 4.016011999999999,
 4.015010999999999,
 4.006989,
 4.006989,
 4.002978,
 3.998967,
 3.994956,
 3.994956,
 3.998967,
 4.002978,
 4.006989,
 4.011,
 4.015010999999999,
 4.015010999999999,
 4.0190220000000005,
 4.015010999999999,
 4.006989,
 4.006989,
 3.9979699999999996,
 3.99396,
 3.99396,
 3.99396,
 3.9979699999999996,
 4.00198,
 4.00599,
 4.01,
 4.01,
 4.014009999999999,
 4.01802,
 4.014009999999999,
 4.01802,
 4.01,
 4.01,
 4.00599,
 4.0009820000000005,
 4.00198,
 3.996973,
 3.992964,
 3.992964,
 3.996973,
 4.0009820000000005,
 4.0009820000000005,
 4.0009820000000005,
 4.004991,
 4.004991,
 4.013009,
 4.013009,
 4.013009,
 4.017018,
 4.017018,
 4.017018,
 4.017018,
 4.013009,
 4.013009,
 4.009,
 4.008,
 4.009,
 4.003992,
 4.008,
 3.999984,
 4.003992,
 4.003992,
 4.003992,
 3.999984,
 3.999984,
 3.999984,
 3.995976,
 3.995976,
 3.991968,
 3.991968,
 3.9909719999999997,
 3.991968,
 3.9909719999999997,
 3.994979,
 3.994979,
 3.994979,
 3.994979,
 3.9989859999999995,
 3.9989859999999995,
 3.9989859999999995,
 4.002993,
 4.002993,
 4.007,
 4.011006999999999,
 4.015014,
 4.015014,
 4.015014,
 4.011006999999999,
 4.011006999999999,
 4.007,
 4.007,
 4.002993,
 3.9989859999999995,
 3.9939820000000004,
 3.9939820000000004,
 3.9899760000000004,
 3.9899760000000004,
 3.9939820000000004,
 3.9939820000000004,
 3.9939820000000004,
 4.001994,
 4.001994,
 4.006,
 4.010006,
 4.014012,
 4.014012,
 4.014012,
 4.010006,
 4.006,
 4.001994,
 3.9979880000000003,
 3.9939820000000004,
 3.9889799999999997,
 3.9889799999999997,
 3.992985,
 3.992985,
 3.992985,
 3.99699,
 3.99699,
 4.000995,
 4.000995,
 4.009004999999999,
 4.005,
 4.009004999999999,
 4.0130099999999995,
 4.009004999999999,
 4.0130099999999995,
 4.0130099999999995,
 4.009004999999999,
 4.009004999999999,
 4.005,
 4.005,
 4.005,
 4.000995,
 3.9959919999999998,
 3.9919879999999996,
 3.9879839999999995,
 3.9879839999999995,
 3.9919879999999996,
 3.9879839999999995,
 3.9919879999999996,
 3.9919879999999996,
 3.9919879999999996,
 3.9959919999999998,
 3.9959919999999998,
 3.9959919999999998,
 3.9999959999999994,
 4.004,
 4.008003999999999,
 4.008003999999999,
 4.008003999999999,
 4.012008,
 4.012008,
 4.012008,
 4.008003999999999,
 4.008003999999999,
 4.008003999999999,
 4.008003999999999,
 4.008003999999999,
 4.003,
 4.003,
 3.998997,
 3.994994,
 3.994994,
 3.994994,
 3.994994,
 3.990991,
 3.986988,
 3.986988,
 3.990991,
 3.990991,
 3.994994,
 3.994994,
 3.998997,
 3.998997,
 4.003,
 4.011006,
 4.011006,
 4.011006,
 4.011006,
 4.007003,
 4.006002,
 4.002,
 3.997998,
 3.9939959999999997,
 3.989994,
 3.985992,
 3.989994,
 3.989994,
 3.989994,
 3.9939959999999997,
 3.997998,
 4.006002,
 4.0100039999999995,
 4.0100039999999995,
 4.006002,
 4.006002,
 4.002,
 3.997998,
 3.9929980000000005,
 3.9889970000000003,
 3.9889970000000003,
 3.9889970000000003,
 3.9889970000000003,
 3.9889970000000003,
 3.9929980000000005,
 3.9929980000000005,
 4.001,
 4.005001,
 4.005001,
 4.009002000000001,
 4.005001,
 4.005001,
 4.005001,
 3.996999,
 3.9929980000000005,
 3.9889970000000003,
 3.984996,
 3.984,
 3.988,
 3.9889970000000003,
 3.9929980000000005,
 3.9929980000000005,
 3.996999,
 4.005001,
 4.005001,
 4.009002000000001,
 4.009002000000001,
 4.008,
 4.004,
 4.005001,
 3.996,
 3.996,
 3.992,
 3.992,
 3.988,
 3.988,
 3.984,
 3.984,
 3.988,
 3.988,
 3.992,
 3.996,
 3.996,
 4.008,
 4.004,
 4.008,
 4.004,
 4.004,
 3.999,
 3.999,
 3.991002,
 3.991002,
 3.983004,
 3.983004,
 3.987003,
 3.987003,
 3.991002,
 3.9950010000000002,
 3.999,
 3.999,
 4.002999,
 4.006998,
 4.002999,
 4.002999,
 3.999,
 3.9950010000000002,
 3.987003,
 3.986006,
 3.982008,
 3.986006,
 3.986006,
 3.9900040000000003,
 3.9900040000000003,
 3.998,
 4.0019979999999995,
 4.006998,
 4.005996000000001,
 4.005996000000001,
 4.005996000000001,
 4.0019979999999995,
 3.998,
 3.998,
 3.9900040000000003,
 3.9900040000000003,
 3.986006,
 3.982008,
 3.982008,
 3.986006,
 3.986006,
 3.994002,
 3.998,
 4.0019979999999995,
 4.005996000000001,
 4.0019979999999995,
 4.0019979999999995,
 3.997,
 3.989006,
 3.989006,
 3.9810119999999998,
 3.9810119999999998,
 3.9810119999999998,
 3.985009,
 3.989006,
 3.993003,
 3.997,
 4.004994,
 4.004994,
 4.004994,
 3.997,
 4.000996999999999,
 3.993003,
 3.985009,
 3.9810119999999998,
 3.980016,
 3.984012,
 3.984012,
 3.992004,
 3.992004,
 4.004994,
 4.004994,
 3.9999959999999994,
 3.9999959999999994,
 3.992004,
 3.984012,
 3.984012,
 3.980016,
 3.9880079999999998,
 3.9880079999999998,
 3.996,
 4.003992,
 4.003992,
 4.003992,
 3.996,
 3.992004,
 3.984012,
 3.980016,
 3.980016,
 3.984012,
 3.9880079999999998,
 3.996,
 3.996,
 4.003992,
 4.003992,
 3.9999959999999994,
 3.995,
 3.991005,
 3.983015,
 3.9790200000000002,
 3.983015,
 3.983015,
 3.991005,
 3.998995,
 4.0029900000000005,
 3.998995,
 3.998995,
 3.991005,
 3.98701,
 3.9790200000000002,
 3.9790200000000002,
 3.983015,
 3.991005,
 3.995,
 3.998995,
 4.0029900000000005,
 3.998995,
 3.995,
 3.990006,
 3.982018,
 3.982018,
 3.978024,
 3.982018,
 3.986012,
 3.986012,
 3.994,
 4.001988,
 4.001988,
 3.997994,
 3.994,
 3.990006,
 3.990006,
 3.982018,
 3.978024,
 3.982018,
 3.986012,
 3.990006,
 3.997994,
 3.997994,
 4.001988,
 3.997994,
 3.9969929999999994,
 3.989007,
 3.985014,
 3.977028,
 3.977028,
 3.9810209999999997,
 3.9810209999999997,
 3.989007,
 3.993,
 3.9969929999999994,
 4.000986,
 4.000986,
 3.9969929999999994,
 3.993,
 3.989007,
 3.985014,
 3.977028,
 3.976032,
 3.976032,
 ...]

Copy dataframe df ke dalam variabel baru

In [6]:
new_df = df.copy() #copy df kedalam variabel new_df
new_df #tampilkan tabel hasil copy yang ada pada variabel new_df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

Tambahkan kolom baru berdasarkan list RP yang telah dibuat

In [7]:
new_df["R/P"]=RP #buat kolom baru bernama R/P dengan isi berupa value pada list RP
new_df #tampilkan tabel setelah ditambahkan kolom baru

       time(s)    V_m  Current (A)  Cycle       Cap       R/P
0            0  4.098        0.997      1  2.840817  4.085706
1            1  4.096        0.998      1  2.840817  4.087808
2            2  4.094        0.999      1  2.840817  4.089906
3            3  4.093        0.998      1  2.840817  4.084814
4            4  4.092        0.999      1  2.840817  4.087908
...        ...    ...          ...    ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.511012
90978    90978  2.504        1.002      9  2.770180  2.509008
90979    90979  2.502        1.002      9  2.770180  2.507004
90980    90980  2.500        1.002      9  2.770180  2.505000
90981    90981  2.497        1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

Mengambil data tabel dengan kondisi ((Current(A)= 1) & (Cycle%2=1))

In [8]:
avg = new_df[(new_df['Current (A)'] == 1) & (new_df['Cycle']%2 == 1)] #mengambil data tabel dengan kondisi ((Current(A)= 1) & (Cycle%2=1))
avg #tampilkan hasilnya

       time(s)    V_m  Current (A)  Cycle       Cap    R/P
15          15  4.085          1.0      1  2.840817  4.085
19          19  4.083          1.0      1  2.840817  4.083
20          20  4.083          1.0      1  2.840817  4.083
21          21  4.082          1.0      1  2.840817  4.082
31          31  4.079          1.0      1  2.840817  4.079
...        ...    ...          ...    ...       ...    ...
90909    90909  2.640          1.0      9  2.770180  2.640
90923    90923  2.615          1.0      9  2.770180  2.615
90937    90937  2.589          1.0      9  2.770180  2.589
90949    90949  2.565          1.0      9  2.770180  2.565
90967    90967  2.528          1.0      9  2.770180  2.528

[6830 rows x 6 columns]

Mencari nilai rata-rata pada kolom Cap berdasarkan tabel avg diatas

In [9]:
avgvalue = avg['Cap'].mean() #Menghitung rata-rata nilai dari tabel Cap
print(avgvalue) # Print hasilnya

2.8064845553927484